extends layout 

block layout-content 
    .my-4 
        h4.my-2 captured clients data
        .w-100.my-1.py-1 
            a.btn.btn-success(href="/add-customer") Add Customer 
        table.table.table-hover.my-2 
            thead 
                tr 
                    th(scope="col") No.
                    th(scope="col") Full name
                    th(scope="col") Age
                    th(scope="col") Gender
                    th(scope="col") Empl stat
                    th(scope="col") Id Number

            tbody
                each customer, index in customers 
                    tr 
                        td(scope="col")= customer.id
                        td(scope="col")= customer.Fullname
                        td(scope="col")= customer.Age 
                        td(scope="col")= customer.Gender
                        td(scope="col")= customer.EmployeeStat 
                        td(scope="col")= customer.IdNumber
                else 
                    p There are no customers in the system
